@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
		--navbar-height: 180px;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
	.full-screen {
		height: 100vh;
		justify-content: center;
	}
	body.no-scroll {
		overflow: hidden;
		position: fixed;
		width: 100%;
	}
	.slider {
		position: relative;
		width: 100%;
	}

	.slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 100%;
		height: 2px; /* Wysokość suwaka */
		background: transparent; /* Tło suwaka */
		cursor: pointer;
		z-index: 10;
	}

	.slider-thumb::-webkit-slider-thumb {
		margin-top: -8px;
		-webkit-appearance: none;
		appearance: none;
		width: 16px; /* Szerokość kciuka */
		height: 16px; /* Wysokość kciuka */
		background: #facc15; /* Tło kciuka */
		border-radius: 50%; /* Okrągły kciuk */
		z-index: 1;
	}

	.slider-thumb::-moz-range-thumb {
		margin-top: -8px;
		width: 16px;
		height: 16px;
		background: #facc15;
		border-radius: 50%;
	}

	.slider-thumb::-ms-thumb {
		margin-top: -8px;
		width: 16px;
		height: 16px;
		background: #facc15;
		border-radius: 50%;
	}

	.slider-thumb::before {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		width: var(--slider-fill-percentage); /* Ustaw tę zmienną w JavaScript */
		height: 2px;
		background: #facc15; /* Tło wypełnienia suwaka */
		transform: translateY(-50%);
		z-index: 1;
	}
	.slider-fill {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: var(--slider-fill-percentage); /* Ustaw tę zmienną w JavaScript */
		height: 2px;
		background: #facc15; /* Tło wypełnienia suwaka */
		transform: translateY(-50%);
	}
	.slider-track {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		height: 2px;
		background-color: #e5e7eb; /* Szary tło dla śladu */
		transform: translateY(-50%);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
	.sidebar-container {
		@apply fixed inset-y-0 left-0 z-40 -translate-x-full transform transition-all duration-500 ease-in-out;
	}
	body.sidebar-open .sidebar-container {
		@apply translate-x-0 transform;
	}
}
